.main_container {
  background-color: #313131;
  height: 1500px;
  position: relative;
}

.top_bar {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header {
  position: relative;
}

.header__img_container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.main_img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  object-position: top;
  opacity: 0.5;
}

.main_content {
  margin: 0 260px;
}
