.reviewList_container {
  margin: 110px 0;
}

.reviewList_container > span {
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.top_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;
}

.top_box > span {
  color: white;
  left: 0;
}

.go_reviewList {
  color: white;
  text-decoration-line: none;
  right: 0;
}

.reviewList_container > table {
  margin: 0 auto;
  width: 100%;
}

.thead > tr > th {
  color: white;
  font-size: 18px;
  height: 70px;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
}

.tbody > tr > td {
  height: 50px;
}

.tbody > tr > td > div > span {
  color: white;
  font-size: 18px;
}
