.userMovieList_container {
  width: 100%;
}

.movieList_title {
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.movieList_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.moviePoster_box {
  width: 100%;
  padding-bottom: 150%;
  overflow: hidden;
  position: relative;
}

.go_movieDetail {
  display: contents;
}

.movie_box {
  flex: 0 0 32%; /* 한 줄에 3개의 박스를 배치*/
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기를 계산 */
  margin-bottom: 20px;
}

.movie_poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.movie_box > span {
  color: white;
  display: flex;
  font-size: 20px;
  text-align: left;
  margin-top: 15px;
}
