.writeForm_container {
  margin-top: 110px;
}
.writeReview_movieTitle {
  color: white;
  text-align: left;
  display: block;
  font-size: 35px;
  font-weight: 600;
}

.write_form {
  margin-top: 30px;
}

.write_form_box {
  margin-bottom: 20px;
}

.write_form_box > label {
  color: white;
  text-align: left;
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.write_rating_box {
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
}

.rating_radio_btn {
  margin-top: -20px;
  padding-bottom: 15px;
}

.rating_star {
  padding: 1px;
  text-align: left;
  display: none;
  color: transparent;
}

.star {
  color: #8e8e8e;
  font-size: 50px;
  transition: color 0.2s;
}

.star.inactive {
  color: #8e8e8e; /* 비활성화된 별 색상 (회색) */
}

.star.active {
  color: #fbb900; /* 활성화된 별 색상 */
}

.write_oneLineReview {
  width: 100%;
  height: 70px;
  background-color: #252525;
  border-style: none;
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
}

.write_review {
  width: 100%;
  height: 200px;
  background-color: #252525;
  border-style: none;
  resize: none;
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
}

.write_submit_btn {
  display: block;
  width: 200px;
  height: 55px;
  font-size: 18px;
  font-weight: 600;
  background-color: #cf4c4c;
  color: white;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
}
